@import ("../variables.styl")

.okay
    background-image url('../../images/yes_btn.png')
    width 116px
    height 45px
    position absolute
    z-index 3
    top 431px
    left 396px
    border-radius 10px
    font-family Alabama, sans-serif
    font-size f33
    color darkgray
    cursor pointer
    letter-spacing 0.05em
    text-align center

    &:hover
        background-color rgba(94,162,125,0.5)
        transition all 0.3s
