@keyframes levitation
    0%
        transform translateY(5px)
    45%
        transform translateY(-5px)
    100%
        transform translateY(5px)

@keyframes disappear
    0%
        opacity 0
    10%
        opacity 1
    25%
        opacity 0
    40%
        opacity 1
    60%
        opacity 0
    80%
        opacity 1
    100%
        opacity 0