@import ("../variables.styl")
@import ("../common.styl")
@import ("swimming.styl")
@import ("up_and_down.styl")


    .table-frogs
        width 648px
        height 296px
        position relative
        top -26px
        left 142px

    .login-toogle
        width 311px
        position relative
        top -35px
        left 307px
        margin-left 16px

        .log-sign
            display inline-block
            color placeholder 
            letter-spacing 0.07em
            padding 1px 25px 3px
            
            &:hover
                cursor pointer
                color black
                transition all 0.3s

        .choosen-auth
            background-color rgba(94,162,125,0.3)
            border-radius 10px
            color black

        #logIn
            width 37px

        #signUp
            margin-left 22px
            width 106px         
        

    input 
        font-family Alabama
        font-size f20
        letter-spacing 0.05em
        color green
        background-color rgba(255,255,255,0.7)
        padding 8px 0 8px 40px
        border-radius 10px
        border 1px solid #cccccc
        width 270px
        margin-left 307px
        margin-bottom 25px
        margin-top -25px

        &:focus
            outline 0           
            box-shadow 0 0 7px rgba(94,162,125,0.7)
            transition all 0.3s

    placeH = @block{color placeholder}

    input::-webkit-input-placeholder
        {placeH}
    input::-moz-placeholder 
        {placeH}
    input:-moz-placeholder
        {placeH} 
    input:-ms-input-placeholder
        {placeH} 

    .empty-value::-webkit-input-placeholder
        color pink
    .empty-value::-moz-placeholder 
        color pink
    .empty-value:-moz-placeholder
        color pink 
    .empty-value:-ms-input-placeholder
        color pink 

    input:focus::-webkit-input-placeholder{
    color: transparent!important
    }
    input:focus::-moz-placeholder{
        color: transparent!important
    }
    input:focus:-moz-placeholder{
        color: transparent!important
    }
    
    .invalid-data
        display inline-block
        width 140px
        color pink
        text-align center
        vertical-align middle
        margin-left 15px
    

    #authBtn
        background-image url('../images/login_btn.png')
        width 196px
        height 45px
        position relative
        top -12px
        left 366px
        border-radius 10px
        background-color rgba(0,0,0,0)
        border none
        font-family Alabama, sans-serif
        font-size f17
        color darkgray
        cursor pointer
        padding-bottom 2px
        display block
        letter-spacing 0.02em      
        &:hover
            background-color rgba(94,162,125,0.5)
            transition all 0.3s

        &:focus
            outline none    


    .fish
        display block
        position relative
        width 156px
        height 95px
        top -125px
        animation: swimming 15s infinite linear 

    .fish1
        animation: upDown 1s infinite linear 

    .plant1
        position relative
        top -10px
        left -40px
        transform scaleX(-1)

    .plant2
        position relative
        left 750px
        bottom 10px

