.boss-close
    width 250px
    height 190px 
    position absolute
    z-index 3
    top 120px
    left 108px
    transform rotate(15deg)
    border-radius 70px
    cursor url(../../../images/cursor_no.png), not-allowed
    // border 1px solid black


.boss
    width 250px
    height 190px 
    position absolute
    z-index 3
    top 120px
    left 108px
    transform rotate(15deg)
    border-radius 70px
    cursor pointer
    // border 1px solid black
