.lazy
    width 140px
    height 107px
    position absolute
    z-index 3
    top 144px
    left 456px
    transform rotate(23deg)
    border-radius 70px
    cursor pointer

.lazy-hint
    background-image url('../../../images/lazy_hint.png')
    position relative
    z-index 3
    display block 
    top -170px
    left 391px
    width 149px
    height 70px


.lazy-passed
    width 140px
    height 107px
    position absolute
    z-index 3
    top 144px
    left 456px
    transform rotate(23deg)
    border-radius 70px
    cursor url(../../../images/cursor.png), default