.chi
    width 180px
    height 116px
    position absolute
    z-index 3
    top 362px
    left 78px
    transform rotate(15deg)
    border-radius 70px
    cursor pointer
    border 1px solid black

.chi-hint
    background-image url('../../images/chi_hint.png')
    position relative
    z-index 3
    display block 
    top 91px
    left 539px
    width 149px
    height 70px

.chi-passed
    width 180px
    height 116px
    position absolute
    z-index 3
    top 362px
    left 78px
    transform rotate(15deg)
    border-radius 70px
    cursor not-allowed
    border 1px solid black
    cursor url(../../images/cursor.png), default

