.gir
    width 126px
    height 221px
    position absolute
    z-index 3 
    top 122px
    left 703px
    border-radius 70px
    cursor pointer
    border 1px solid black

    &:hover:before
        content url('../../images/gir_hint.png')
        position relative
        display block
        top 185px
        left 26px


.gir-passed
    width 126px
    height 221px
    position absolute
    z-index 3
    top 122px
    left 703px
    border-radius 70px
    cursor not-allowed
    border 1px solid black
    
    &:hover:before
        content url('../../images/gir_passed_hint.png')
        position relative
        display block
        top 185px
        left 26px 