.goose
    width 160px
    height 127px
    position absolute
    z-index 3
    top 336px
    left 408px
    transform rotate(-18deg)
    border-radius 70px
    cursor pointer

.goose-hint
    background-image url('../../images/goose_hint.png')
    position relative
    z-index 3
    display block 
    top 191px
    left 539px
    width 149px
    height 70px 

.goose-passed
    width 160px
    height 127px
    position absolute
    z-index 3
    top 336px
    left 408px
    transform rotate(-18deg)
    border-radius 70px
    cursor url(../../images/cursor.png), default