.goose
    width 160px
    height 127px
    position absolute
    z-index 3
    top 336px
    left 408px
    transform rotate(-18deg)
    border-radius 70px
    cursor pointer
    border 1px solid black

    &:hover:before
        content url('../../images/goose_hint.png')
        position relative
        display block
        transform rotate(18deg)
        top -9px
        left 103px

.goose-passed
    width 160px
    height 127px
    position absolute
    z-index 3
    top 336px
    left 408px
    transform rotate(-18deg)
    border-radius 70px
    cursor url(../../images/cursor.png), default
    border 1px solid black