.lazy
    width 140px
    height 107px
    position absolute
    z-index 3
    top 147px
    left 449px
    transform rotate(23deg)
    border-radius 70px
    cursor pointer
    border 1px solid black

    &:hover:before
        content url('../../images/lazy_hint.png')
        position relative
        display block
        transform rotate(-23deg)
        top 55px
        left 50px