.lazy
    width 140px
    height 107px
    position absolute
    z-index 3
    top 144px
    left 456px
    transform rotate(23deg)
    border-radius 70px
    cursor pointer
    border 1px solid black

.lazy-hint
    background-image url('../../images/lazy_hint.png')
    position relative
    z-index 3
    display block 
    top 21px
    left 539px
    width 149px
    height 70px


.lazy-passed
    width 140px
    height 107px
    position absolute
    z-index 3
    top 144px
    left 456px
    transform rotate(23deg)
    border-radius 70px
    cursor url(../../images/cursor.png), default
    border 1px solid black