.lazy
    width 140px
    height 107px
    position absolute
    z-index 3
    top 144px
    left 456px
    transform rotate(23deg)
    border-radius 70px
    cursor pointer
    border 1px solid black

    &:hover:before
        content url('../../images/lazy_hint.png')
        position relative
        display block
        transform rotate(-23deg)
        top -52px
        left -19px


.lazy-passed
    width 140px
    height 107px
    position absolute
    z-index 3
    top 144px
    left 456px
    transform rotate(23deg)
    border-radius 70px
    cursor not-allowed
    border 1px solid black

    &:hover:before
        content url('../../images/lazy_passed_hint.png')
        position relative
        display block
        transform rotate(-23deg)
        top -52px
        left -19px