@import ("variables.styl")

    button
        background-image url('../images/yes_btn.png')
        width 116px
        height 45px
        margin-left 518px 
        margin-top 16px
        border-radius 10px
        background-color rgba(0,0,0,0)
        border none
        font-family Alabama
        font-size f33
        color darkgray
        cursor pointer
        padding-bottom 30px
        display block
        letter-spacing 0.05em

    button:hover
        background-color rgba(94,162,125,0.5)

    button:focus
        outline none