.chi
    width 180px
    height 116px
    position absolute
    z-index 2
    top 362px
    left 87px
    transform rotate(15deg)
    border-radius 70px
    cursor pointer
    border 1px solid black

    &:hover:before
        content url('../images/chi_hint.png')
        position relative
        display block
        transform rotate(-15deg)
        top 55px
        left 50px