@keyframes circleViolet
    0%
        transform scale(0)
        border-color rgba(163,133,190,1)
    100%
        transform scale(1)
        border-color rgba(163,133,190,0)

@keyframes circleGreen
    0%
        transform scale(0)
        border-color rgba(124,197,118,1)
    100%
        transform scale(1)
        border-color rgba(124,197,118,0)