@keyframes c2
    0%
        transform scale(0)
        border-color rgba(255,83,123,.9)
    100%
        transform scale(1)
        border-color rgba(255,83,123,0)

@keyframes c3
    0%
        transform scale(0)
        border-color rgba(255,83,123,.7)
    100%
        transform scale(1)
        border-color rgba(255,83,123,0)

@keyframes c4
    0%
        transform scale(0)
        border-color rgba(255,42,68,.5)
    100%
        transform scale(1)
        border-color rgba(255,42,68,0)