@import ("variables.styl")

@font-face
    font-family "Alabama"
    
    src url('../fonts/Alabama.ttf')
    src url('../fonts/Alabama.eot?#iefix') format('embedded-opentype'), url('../fonts/Alabama.woff') format('woff'), url('../fonts/Alabama.ttf') format('truetype')
    font-weight normal
    font-style normal

body
    background-image url('../images/cell.png')
    margin 0
    padding 0
    font-family Alabama
  
    .wrapper
        width wrapper
        margin 0 auto

    .hiden
        opacity 0