@import ("variables.styl")

@font-face
    font-family Alabama
    font-style normal
    src url('../fonts/Alabama.ttf')

body
    background-image url('../images/cell.png')
    margin 0
    padding 0
    font-family Alabama

    // .wrapper-plants
    //     width wrapper-plants
    //     margin 0 auto
    
    .wrapper
        width wrapper
        margin 0 auto

    .hiden
        opacity 0