        .dimonds-end
            position absolute
            z-index 5
            top 0
            left 0
            width 100vw
            height 100vh

            .background
                position relative
                top 56px
                left 55px
                background-image url('../images/diamonds_is_end.png')
                width 800px
                height 460px
                
            .timer
                position relative
                top -150px
                left 445px
                width 150px
                font-size f20

            .dimond
                position relative
                z-index 6

@import ("levitation.styl")

            .d1
                top -83px
                left 131px
                animation levitation 2s infinite  ease-in-out, disappear 8s  infinite  ease-in-out

            .d2
                top -90px
                left 685px
                animation levitation 1.8s  infinite  ease-in-out, disappear 9.2s  infinite  ease-in-out

            .d3
                top -127px
                left 419px
                animation levitation 1.6s  infinite  ease-in-out, disappear 10.5s  infinite  ease-in-out

            .d4
                top -174px
                left 70px
                animation levitation 1.3s  infinite  ease-in-out, disappear 11s  infinite  ease-in-out

            .d5
                top -288px
                left 223px
                animation levitation 1.2s  infinite  ease-in-out, disappear 8s  infinite  ease-in-out

            .d6
                top -364px
                left 20px
                animation levitation 1.9s  infinite  ease-in-out, disappear 10s  infinite  ease-in-out

            .d7
                top -338px
                left -320px
                animation levitation 1.5s  infinite  ease-in-out, disappear 9s  infinite  ease-in-out

            .d8
                top -381px
                left 167px
                animation levitation 1.7s  infinite  ease-in-out, disappear 8.5s  infinite  ease-in-out
