        .outcome
            position absolute
            z-index 2

            @import ("close.styl")            

            .outcome-text
                font-size f20
                width 600px
                position relative
                text-align center
                display table-cell
                margin 0
                padding 205px 170px
                vertical-align middle

            .points-result
                position absolute
                width 930px
                top 33px
                font-size f50
                text-align center
                color pink

            .green
                color green

            @import ("button.styl")