        .outcome
            position absolute
            z-index 2

            @import ("close.styl")            

            .outcome-text
                font-size f27
                width 500px
                position relative
                top 70px
                left 201px
                text-align center

            .points-result
                position relative
                top 115px
                left 410px
                font-size f50
                color darkgray

            .big-diamond
                display block
                position relative
                top 66px
                left 505px

            @import ("button.styl")