@import ("variables.styl")
@import ("common.styl")

body
    .papper
        height 545px
        background-image url('../images/papper.png')
        background-repeat no-repeat
        background-position center
        padding-top 25px

@import ("game_rules.styl")
@import ("game_map.styl")