    .map
        position relative
        top -2px

        @import("./enemies/boss.styl")
        @import("./enemies/chi.styl")
        @import("./enemies/goose.styl")
        @import("./enemies/lazy.styl")
        @import("./enemies/gir.styl")

        .transparent
            opacity 0

        .plan
            font-size f30
            width 389px
            display block
            margin 0 auto
            padding-top 30px

        .info
            width 31px
            height 31px
            background-image url('../images/info.png')
            background-repeat no-repeat
            position absolute
            z-index 3
            top 10px
            left 881px

            &:hover
                background-position -31px 0
                cursor pointer


        .shine_diamond
            position relative
            top -67px
            left 141px

        .points
            display inline-block
            width 50px
            text-align center
            position relative
            left 99px
            top -46px
            color black
            font-size  f24

        .cat
            position relative
            left 691px
            top -51px

        #userName
            position relative
            left 650px
            top -41px
            font-size f13


        .islands
            position relative
            left 49px
            top -327px

        
        .rigth-hand
            position absolute
            left 885px
            top 220px

        .left-hand
            position absolute
            left -172px
            top 220px 
            transform scaleX(-1)

@import("./circle.styl")

        .accent-on-boss
            
            .c1
                position relative
                top -473px
                left 107px
                height 150px
                width 150px
                background rgba(0,0,0,0) 
                border 10px solid rgba(163,133,190,0) 
                border-radius 50% 
                position relative 
                animation circleViolet 2s infinite
            
            .c2
                position relative
                top -751px
                left 89px
                height 160px
                width 160px
                background rgba(0,0,0,0) 
                border 20px solid rgba(124,197,118,0) 
                border-radius 50% 
                position relative 
                animation circleGreen 2s infinite

            .c3
                position relative
                top -1029px
                left 107px
                height 180px
                width 180px
                background rgba(0,0,0,0) 
                border 30px solid rgba(163,133,190,0) 
                border-radius 50% 
                position relative 
                animation circleViolet 2s infinite

            .c4
                position relative
                top -1307px
                left 89px
                height 210px
                width 210px
                background rgba(0,0,0,0) 
                border 40px solid rgba(124,197,118,0) 
                border-radius 50% 
                position relative 
                animation circleGreen 2s infinite