@import ("variables.styl")
@import ("common.styl")

body
    .papper
        height 545px
        background-image url('../images/papper.png')
        background-repeat no-repeat
        background-position center
        padding-top 25px

@import ("game_rules.styl")
@import ("game_map.styl")
@import ("game_attack.styl")
@import ("game_outcome.styl")

        .github
            position fixed
            left 10px
            top 10px
            height 27px
            width 28px
            &:before
                content url('../images/github.png')
                
                