        .rules
            position absolute
            z-index 2

            @import ("close.styl")

            .rules-image
                position relative
                top 4px
                left 30px

            @import ("button.styl")
                