        .outcome
            position absolute
            z-index 2

            @import ("close.styl")            

            .outcome-text
                font-size f20
                width 530px
                position relative
                top 205px
                left 0
                text-align center
                padding 0 200px

            .points-result
                position absolute
                width 930px
                top 33px
                font-size f50
                text-align center
                color pink

            .green
                color green

            @import ("button.styl")