    .map
        position relative
        top -2px

        @import("boss.styl")
        @import("chi.styl")
        @import("goose.styl")
        @import("lazy.styl")
        @import("gir.styl")

        .plan
            font-size f30
            width 389px
            display block
            margin 0 auto
            padding-top 30px

        .info
            width 31px
            height 31px
            background-image url('../images/info.png')
            background-repeat no-repeat
            position absolute
            z-index 3
            top 10px
            left 881px

            &:hover
                background-position -31px 0
                cursor pointer


        .shine_diamond
            position relative
            top -67px
            left 141px

        .points
            position relative
            left 110px
            top -46px
            color black
            font-size  f24

        .cat
            position relative
            left 691px
            top -51px

        #userName
            position relative
            left 650px
            top -41px
            font-size f13


        .compass
            position relative
            left -808px
            top -417px


        .islands
            position relative
            left 36px
            top -45px

        
        .rigth-hand
            position absolute
            left 885px
            top 220px

        .left-hand
            position absolute
            left -172px
            top 220px 
            transform scaleX(-1)