@import ("variables.styl")
@import ("common.styl")
@import ("swimming.styl")
@import ("up_and_down.styl")
@import ("table_animation.styl")
@import ("button.styl")

body      

    .table-frogs
        width 708px
        height 280px
        margin-left ( (wrapper -@width)/2 )
        margin-bottom 20px

    
    .new-user
        display inline-block
        width 50px
        height 51px
        position relative
        top 53px
        left -605px


        span
            position absolute
            background url('../images/new_user.png')
            cursor pointer
            width 100%
            height 100%

        span:hover
            background-position -50px 0

        span:hover:before
            content "новый игрок"
            position relative
            top 55px
            text-align center
            color lightgray


    input 
        font-family Alabama
        font-size f20
        letter-spacing 0.05em
        color green
        background-color rgba(255,255,255,0.7)
        padding 8px 0 8px 40px
        border-radius 10px
        border 1px solid #cccccc
        width 270px
        margin-left 422px
        margin-bottom 19px

    placeH = @block{color placeholder}

    input::-webkit-input-placeholder
        {placeH}
    input::-moz-placeholder 
        {placeH}
    input:-moz-placeholder
        {placeH} 
    input:-ms-input-placeholder
        {placeH} 


    
    .invalid-data
        display inline-block
        width 140px
        color pink
        text-align center
        vertical-align middle
    
       
    breakDefaultFocus = @block { outline 0 }
    button:focus 
        {breakDefaultFocus}
    input:focus
        {breakDefaultFocus}            
        box-shadow 0 0 7px rgba(94,162,125,0.7)



    .fish
        display block
        width 156px
        height 95px
        float right
        margin-top 90px
        animation: swimming 20s infinite linear 

    .fish1
        animation: upDown 1s infinite linear 

    .plant1
        position relative
        top 70px
        left 100px
        transform scaleX(-1)

    .plant2
        position relative
        left 830px
        bottom -70px

            