@keyframes swimming 
    0%          
       left 750px
       transform scaleX(1)
       opacity 0
    
    3% 
        opacity 0
    
    10% 
        opacity 1
    
    43% 
        opacity 1
    
    47% 
        opacity 0
        transform scaleX(1)
        left 50px
    
    50% 
        transform scaleX(-1)
        opacity 0
    
    53% 
        opacity 0
        left 50px
    
    57% 
        opacity 1
    
    93%
        opacity 1
    
    98%
        opacity 0
        transform scaleX(-1)
    
    100% 
        left 750px
        transform scaleX(1)
        opacity 0
    
