        .boss-image
            position relative
            top -12px
            left 1px

        .boss_levitation
            position relative
            top -563px
            left 0
            animation levitation 2s infinite  ease-in-out