wrapper-plants = 1140px 
wrapper = 930px

// font size variables
f16 = 16px
f20 = 20px
f30 = 30px
f33 = 33px

// color variables
placeholder = #909090
lightgray = #818180
darkgray = #4D4D4D
black = #000000

pink = #F65263
green = #5EA27D
blue = #1F7EA4

