wrapper = 930px

// font size variables
f13 = 13px
f16 = 16px
f17 = 17px
f20 = 20px
f24 = 24px
f27 = 27px
f30 = 30px
f33 = 33px
f50 = 50px

// color variables
placeholder = #909090
lightgray = #818180
darkgray = #4D4D4D
black = #000000

pink = #F65263
green = #5EA27D
blue = #1F7EA4

